{% extends 'application/navfoot.html' %}
{% load static %}

{% block content %}
<title>DVD-R Kween - Accessories</title>
<main class="container-fluid pb-3 flex-grow-1 d-flex flex-column flex-sm-row p-5 overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div class="col-sm-3 flex-grow-sm-1 flex-shrink-1 flex-grow-0 pb-sm-0 pb-3" style="height: 10cm;">
            <div class="bg-light border rounded-3 p-2 h-200">
                <h6 class="d-none d-sm-block text-muted">Type</h6>
                <ul class="nav nav-pills flex-sm-column p-1 flex-row mb-auto justify-content-between text-truncate">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        Headphones
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
                        <label class="form-check-label" for="flexCheckDefault">
                        Speakers
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
                        <label class="form-check-label" for="flexCheckDefault">
                        PC Accessories
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
                        <label class="form-check-label" for="flexCheckDefault">
                        Mobile Accessories
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
                        <label class="form-check-label" for="flexCheckDefault">
                        Virtual Reality
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
                        <label class="form-check-label" for="flexCheckDefault">
                        Cables
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
                        <label class="form-check-label" for="flexCheckDefault">
                        Wireless
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
                        <label class="form-check-label" for="flexCheckDefault">
                        Other
                        </label>
                    </div>
                </ul>
                <h6 class="d-none d-sm-block text-muted">Brand</h6>
                <ul class="nav nav-pills flex-sm-column p-1 flex-row mb-auto justify-content-between text-truncate">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        Asus
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
                        <label class="form-check-label" for="flexCheckDefault">
                        Apple
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
                        <label class="form-check-label" for="flexCheckDefault">
                        Samsung
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
                        <label class="form-check-label" for="flexCheckDefault">
                        Other
                        </label>
                    </div>
                </ul>
                <h6 class="d-none d-sm-block text-muted">Price</h6>
                <div class="input-group mb-3 p-1 ">
                    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                    <span class="input-group-text">0.00</span>
                    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                    <button type="button" class="btn btn-outline-primary">Go</button>
                </div>
            </div>
        </div>
        <div class="col overflow-auto h-100">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="products/accessories_sample.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="#" class="stretched-link" id="product-name">Oculus Go</a>
                            <h5 class="card-title">99,999.99</h5>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="products/jbl_boombox.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="#" class="stretched-link" id="product-name">JBL Boombox</a>
                            <h5 class="card-title">3,999.99</h5>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="products/samsung_level.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="#" class="stretched-link" id="product-name">Samsung Leven On</a>
                            <h5 class="card-title">2,999.99</h5>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="products/usb_3.1_typec.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="#" class="stretched-link" id="product-name">USB 3.1 Type C Cable</a>
                            <h5 class="card-title">999.99</h5>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="products/logitech_c615.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="#" class="stretched-link" id="product-name">LogiTech C615 HD Camera</a>
                            <h5 class="card-title">999.99</h5>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="products/microphone.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="#" class="stretched-link" id="product-name">USB Microphone</a>
                            <h5 class="card-title">250.00</h5>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="products/asus_rtax56u.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="#" class="stretched-link" id="product-name">ASUS RT AX56U</a>
                            <h5 class="card-title">11,999.99</h5>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                        </div>
                    </div>
                </div>
            </div>
            <nav aria-label="...">
                <ul class="pagination justify-content-center" >
                    <li class="page-item">
                        <a class="page-link" style="color: #53a6d8;" href="#">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"aria-current="page">
                        <span class="page-link" style="background-color: #53a6d8; outline: #53a6d8;">2</span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" style="color: #53a6d8;" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</main>
{% endblock content %}
