{% extends 'application/navfoot.html' %}
{% load static %}

{% block content %}

<!-- Product Details -->
<main class="container-fluid pb-3 flex-grow-1 d-flex flex-column flex-sm-row p-5 overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div class="col-sm-3 flex-grow-sm-1 flex-shrink-1 flex-grow-0 pb-sm-0 pb-3" style="height: 10cm;">
            <div class="bg-light border rounded-3 p-2 h-200">
                <h6 class="d-none d-sm-block text-muted">Brand</h6>
                <ul class="nav nav-pills flex-sm-column p-1 flex-row mb-auto justify-content-between text-truncate">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        Apple
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                        Xiaomi
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                        Realme
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                        Other
                        </label>
                    </div>
                </ul>
                <h6 class="d-none d-sm-block text-muted">Processor</h6>
                <ul class="nav nav-pills flex-sm-column p-1 flex-row mb-auto justify-content-between text-truncate">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        Snapdragon
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                        Mediatek
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                        Other
                        </label>
                    </div>
                </ul>
                <h6 class="d-none d-sm-block text-muted">Price</h6>
                <div class="input-group mb-3 p-1 ">
                    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                    <span class="input-group-text">0.00</span>
                    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                    <button type="button" class="btn btn-outline-primary">Go</button>
                </div>
            </div>
        </div>
        <div class="col overflow-auto h-100">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="products/asus_zenfone.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="#" class="stretched-link" id="product-name">Asus Zenfone</a>
                            <h5 class="card-title">13,999.99</h5>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="products/smartphone_sample.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="#" class="stretched-link" id="product-name">Xiaomi MI Mix</a>
                            <h5 class="card-title">29,999.99</h5>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="products/iphone_12.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="#" class="stretched-link" id="product-name">Iphone 12</a>
                            <h5 class="card-title">79,999.99</h5>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="products/realme_7.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="#" class="stretched-link" id="product-name">Realme 7</a>
                            <h5 class="card-title">11,999.99</h5>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="products/vivo_v20.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="#" class="stretched-link" id="product-name">Vivo V20</a>
                            <h5 class="card-title">11,999.99</h5>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="products/oppo_a12.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="#" class="stretched-link" id="product-name">Oppo A12</a>
                            <h5 class="card-title">10,999.99</h5>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="products/huaweii_p30.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="#" class="stretched-link" id="product-name">Huaweii P30</a>
                            <h5 class="card-title">29,999.99</h5>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                            <i class="bi bi-star-fill" id="rating"></i>
                        </div>
                    </div>
                </div>
            </div>
            <nav aria-label="...">
                <ul class="pagination justify-content-center" >
                    <li class="page-item">
                        <a class="page-link" style="color: #53a6d8;" href="#">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"aria-current="page">
                        <span class="page-link" style="background-color: #53a6d8; outline: #53a6d8;">2</span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" style="color: #53a6d8;" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</main>

{% endblock content %}
