{% extends 'application/navfoot.html' %}
{% load static %}

{% block content %}
<title>DVD-R Kween - Accessories</title>
<main class="container-fluid pb-3 flex-grow-1 flex-column flex-sm-row p-5 overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div class="col-sm-3 flex-grow-sm-1 flex-shrink-1 flex-grow-0 pb-sm-0 pb-3" >
            <div class="bg-light border rounded-3 p-2 h-200">
                <form method="get">
                    Brand: <br>
                    {{ filter.form.brand }}<br><br>
                    Type: <br>
                    {{ filter.form.type }}<br><br>
                    Color: <br>
                    {{ filter.form.color }}<br><br>
                    Weight (in grams):
                    {{ filter.form.weight }}<br><br>
                    Price (in php): <br>
                    {{ filter.form.price }}<br><br>
                    <button class="btn" type="submit">Apply Filter</button>
                </form>
            </div>
        </div>
        <div class ="col overflow-auto h-100">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4">
                {% for accessory in filter.qs %}
                <div class="col">
                    <div class="card h-100">
                        <img src="{{accessory.image.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="{% url 'accessoriesdetails' accessory.id %}" class="stretched-link" id="product-name">{{accessory.name}}</a>
                            <h5 class="card-title">{{accessory.price}}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% if filter.qs.count == 0 or accessories.count == 0 %}
                <div class="col">
                    <div class="card h-100">
                        <img src="{% static 'application/files/logo/DVD-R_Kween_logo.png' %}" style="margin-top:5%" class="card-img-top" alt="...">
                        <div class="card-body" style="text-align:center">
                            <p>No products available for now. The admin will add some soon!</p>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock content %}
