{% extends 'application/navfoot.html' %}
{% load static %}

{% block content %} 
<title>DVD-R Kween - Pay with Card</title>
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>



<div class="d-flex justify-content-center mb-4">
    <div class="col-sm-6">
        <div class="card">
            <form action="" method="post">
            {% csrf_token %}
            {{form.user}}
            <div class="card-body">
                <h2 class="card-title" style="text-align:center;">Card Payment</h2>
                <br>
                <p style="text-align: center;"><b>Recipient's Address</b></p>
                <div class="container p-1">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Province</span>
                        {{form.province}}
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Municipality</span>
                        {{form.municipality}}
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Barangay</span>
                        {{form.barangay}}
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">House No. and Street</span>
                        {{form.hs_num}}
                    </div>
                    <br>
                </div>
                <p style="text-align:center"><b>Cardholder's Details</b></p>
                <div class="row g-2 mb-3">
                    <div class="col-md">
                        <div class="form-floating">
                            {{form.full_name}}
                            <label for="cardholdername">
                                Full Name
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row g-2 mb-3">
                    <div class="col-md">
                        <div class="form-floating">
                            {{form.card_number}}
                            <label for="cardnumber">
                                Card Number
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row g-2 mb-3">
                    <div class="col-md">
                        <div class="form-floating">
                            {{form.mm}}
                            <label for="cardholdername">
                                MM
                            </label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            {{form.dd}}
                            <label for="cardholdername">
                                DD
                            </label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            {{form.yyyy}}
                            <label for="cardholdername">
                                YYYY
                            </label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            {{form.ccv}}
                            <label for="cardccv">
                                CCV
                            </label>
                        </div>
                    </div>
                </div>

                {% if form.errors %}
                    {% for key, value in form.errors.items %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Error!</strong> {{value | striptags}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                {% endif %}

                <div class="row g-2 mb-3">
                    <div class="col-md" style="text-align:center;">
                        <button type="submit" class="btn btn-primary" id="signup_btn">Proceed</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}  
