{% extends 'application/navfoot.html' %} 
{% load static %}

{% block content %}
<title>DVD-R Kween - Cart</title>
<div class="container p-3">
    <div class="contentbar">
        <!-- Start row -->
        <div class="row">
            <!-- Start col -->
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="card m-b-30" style="width: 80%; margin: auto;">
                    <div class="card-header">
                        <h5 class="card-title">Cart</h5>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-lg-10 col-xl-10">
                                <div class="cart-container">
                                    <div class="cart-head">
                                        <div class="table-responsive">
                                            <table class="table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col"> </th>
                                                        <th scope="col">Photo</th>
                                                        <th scope="col">Product</th>
                                                        <th scope="col">Qty</th>
                                                        <th scope="col">Price</th>
                                                        <th scope="col" class="text-right">Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row justify-content-center">1</th>
                                                        <td><a href="#" class="text-danger "><i class="bi bi-trash-fill" style="color: #ce1d10;"></i></i></a></td>
                                                        <td><img src="products/laptop_sample.jfif" class="img-fluid" width="35" alt="product"></td>
                                                        <td>Asus VivoBook S14</td>
                                                        <td>
                                                            <div class="form-group mb-0">
                                                                <input type="number" min="0" class="form-control cart-qty" name="cartQty1" id="cartQty1" value="1" oninput="displayNewAmount()">
                                                            </div>
                                                        </td>
                                                        <td >₱<span id="cartPrc1">99,999.99</span></td>
                                                        <td class="text-right" >₱<span id="total1">99,999.99</span></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2</th>
                                                        <td><a href="#" class="text-danger"><i class="bi bi-trash-fill" style="color: #ce1d10;"></i></a></td>
                                                        <td><img src="products/smartphone_sample.jpg" class="img-fluid" width="35" alt="product"></td>
                                                        <td>Xiaomi Mi Mix</td>
                                                        <td>
                                                            <div class="form-group mb-0">
                                                                <input type="number" min="0" class="form-control cart-qty" name="cartQty2" id="cartQty2" value="1" oninput="displayNewAmount()">
                                                            </div>
                                                        </td>
                                                        <td>₱<span id="cartPrc2">99,999.99</span></td>
                                                        <td class="text-right">₱<span id="total2">99,999.99</span></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">3</th>
                                                        <td><a href="#" class="" ><i class="bi bi-trash-fill" style="color: #ce1d10;"></i></a></td>
                                                        <td><img src="products/accessories_sample.jpg" class="img-fluid" width="35" alt="product"></td>
                                                        <td>Oculus Go</td>
                                                        <td>
                                                            <div class="form-group mb-0">
                                                                <input type="number" min="0" class="form-control cart-qty" name="cartQty3" id="cartQty3" value="1" oninput="displayNewAmount()">
                                                            </div>
                                                        </td>
                                                        <td>₱<span id="cartPrc3">99,999.99</span></td>
                                                        <td class="text-right">₱<span id="total3">99,999.99</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="cart-body">
                                        <div class="row">
                                            <div class="col-md-12 order-2 order-lg-1 col-lg-5 col-xl-6">
                                                <div class="order-note">
                                                    <div>
                                                        <h6>Address</h6>
                                                        <p>123, Main Street, Brgy. Calayo, Nasugbu, Batangas, Philippines</p>
                                                    </div>
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="specialNotes">Special Note for this order:</label>
                                                            <textarea class="form-control" name="specialNotes" id="specialNotes" rows="3" placeholder="Message here"></textarea>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="col-md-12 order-1 order-lg-2 col-lg-7 col-xl-6">
                                                <div class="order-total table-responsive ">
                                                    <table class="table table-borderless text-right">
                                                        <tbody>
                                                            <tr>
                                                                <td>Number of Items: </td>
                                                                <td><span id="qty">3</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Sub Total :</td>
                                                                <td >₱<span id="subtotal">299,999.97</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Shipping :</td>
                                                                <td>₱0.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="f-w-7 font-18">
                                                                    <h4>Amount :</h4>
                                                                </td>
                                                                <td class="f-w-7 font-18">
                                                                    <h4>₱<span id="total">300,000.00</span></h4>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="cart-footer text-right">
                                                        <h3>Proceed to Payment</h3>
                                                        <a href="{% url 'card' %}" class="btn my-1" style="outline-color: #53a6d8;"><i class="bi bi-credit-card-2-back"></i> Card</a>
                                                        <a href="{% url 'cod' %}" class="btn my-1" style="outline-color: #53a6d8;"><i class="bi bi-cash-coin"></i> Cash On Delivery</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End col -->
        </div>
        <!-- End row -->
    </div>
</div>

{% endblock content %}
