{% extends 'application/navfoot.html' %}
{% load static %} 

{% block content %}
<title>DVD-R Kween - Cash on Delivery</title>
<div class="d-flex justify-content-center mb-4">
    <div class="col-sm-6">
        <div class="card">
            <form action='' method="post">
            {% csrf_token %}
            {{ form.user }}
            <div class="card-body">
                <h2 class="card-title" style="text-align:center;">Cash On Delivery</h2>
                <br>
                <p style="text-align: center;"><b>Recipient's Address</b></p>
                <div class="container p-1">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Province</span>
                        {{form.province}}
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Municipality</span>
                        {{form.municipality}}
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Barangay</span>
                        {{form.barangay}}
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">House No. and Street</span>
                        {{form.hs_num}}
                    </div>
                    <br>
                </div>
                <div class="row g-2 mb-3">
                    <div class="col-md" style="text-align:center;">
                        <button type="submit" class="btn btn-primary" id="signup_btn">Proceed</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}