{% extends 'application/navfoot.html' %}
{% load static %} 

{% block content %}
<title>DVD-R Kween - Cash on Delivery</title>
<div class="d-flex justify-content-center mb-4">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title" style="text-align:center;">Cash On Delivery</h2>
                <br>
                <p style="text-align: center;"><b>Recipient's Address</b></p>
                <div class="container p-1">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Province</span>
                        <input type="text" class="form-control" placeholder="Province" value="Batangas" aria-label="Province" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Municipality</span>
                        <input type="text" class="form-control" placeholder="Municipality" value="Nasugbu" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Barangay</span>
                        <input type="text" class="form-control" placeholder="Barangay" value="Barangay Calayo" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">House No. and Street</span>
                        <input type="text" class="form-control" placeholder="House #, Street Name" value="123, Main Street" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <br>
                </div>
                <div class="row g-2 mb-3">
                    <div class="col-md" style="text-align:center;">
                        <button type="submit" class="btn btn-primary" id="paybtn">Proceed</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}