{% extends 'application/navfoot.html' %}
{% load static %}

{% block content %}
<title>DVD-R Kween - Laptops</title>

<!-- Product Details -->
<main class="container-fluid pb-6 flex-grow-1 d-flex flex-column flex-sm-row p-5 overflow-auto">
    <div class="row sm-6 flex-grow-sm-1 flex-grow-0 ">
        <div class="col-sm-6 col-lg-3 col-md-4 pb-sm-0 flex-grow-sm-1 flex-shrink-1 flex-grow-0  pb-3"">
            <div class="bg-light border rounded-6 p-3 h-200">
                <form method="get">
                    {{ filter.form.as_p }}
                    <button class="btn" type="submit">Apply Filter</button>
                </form>
                <!--
                <h6 class="d-none d-sm-block text-muted">Brand</h6>
                <ul class="nav nav-pills flex-sm-column p-1 flex-row mb-auto justify-content-between text-truncate">
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        Asus
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
                        <label class="form-check-label" for="flexCheckDefault">
                        Acer
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
                        <label class="form-check-label" for="flexCheckDefault">
                        Lenovo
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
                        <label class="form-check-label" for="flexCheckDefault">
                        Other
                        </label>
                    </div>
                </ul>
                <h6 class="d-none d-sm-block text-muted">Processor</h6>
                <ul class="nav nav-pills flex-sm-column p-1 flex-row mb-auto justify-content-between text-truncate">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        Intel
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
                        <label class="form-check-label" for="flexCheckDefault">
                        AMD
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
                        <label class="form-check-label" for="flexCheckDefault">
                        Other
                        </label>
                    </div>
                </ul>
                <h6 class="d-none d-sm-block text-muted">Price</h6>
                <div class="input-group mb-3 p-1 ">
                    <input type="number" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                    <span class="input-group-text">to</span>
                    <input type="number" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                    <button type="button" class="btn btn-outline-primary">Go</button>
                </div>
                <h6 class="d-none d-sm-block text-muted">RAM</h6>
                <ul class="nav nav-pills flex-sm-column p-1 flex-row mb-auto justify-content-between text-truncate">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        ≤ 4GB
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
                        <label class="form-check-label" for="flexCheckDefault">
                        6GB
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
                        <label class="form-check-label" for="flexCheckDefault">
                        8GB
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
                        <label class="form-check-label" for="flexCheckDefault">
                        12GB
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
                        <label class="form-check-label" for="flexCheckDefault">
                        ≥16GB
                        </label>
                    </div>
                </ul>
                <h6 class="d-none d-sm-block text-muted">Operating System</h6>
                <ul class="nav nav-pills flex-sm-column p-1 flex-row mb-auto justify-content-between text-truncate">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        Windows
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
                        <label class="form-check-label" for="flexCheckDefault">
                        Mac OS
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
                        <label class="form-check-label" for="flexCheckDefault">
                        Chrome OS
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
                        <label class="form-check-label" for="flexCheckDefault">
                        Android
                        </label>
                    </div>
                    <div class="row g-2 mb-3">
                        <div class="col-md" style="text-align:center;">
                            <button type="submit" class="btn btn-primary" id="signup_btn">Apply Filters</button>
                        </div>
                    </div>
                </ul>
                -->
                
            </div>
            <br><br>
        </div>
        
        <div class ="col overflow-auto h-100">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4">

                {% if laptops.count == 0 %}
                <div class="col">
                    <div class="card h-100">
                        <img src="{% static 'application/files/logo/DVD-R_Kween_logo.png' %}" style="margin-top:5%" class="card-img-top" alt="...">
                        <div class="card-body" style="text-align:center">
                            <p>No products available for now. The admin will add some soon!</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                
                {% for laptop in filter.qs %}
                
                <div class="col">
                    <div class="card h-100">
                        <img src="{{laptop.image.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="{% url 'laptopdetails' laptop.id %}" class="stretched-link" id="product-name">{{laptop.name}}</a>
                            <h5 href=""class="card-title">₱ {{laptop.price}}</h5>
                        </div>
                    </div>
                </div>

                {% endfor %}
                
            </div>
        </div>
    </div>
</main>

{% endblock content %}
