{% extends 'application/navfoot.html' %}
{% load static %}

{% block content %}
<title>DVD-R Kween - Sign Up</title>
<!--Sign Up Form-->
<div class="d-flex justify-content-center mb-4">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title" style="text-align:center;">Create an Account</h2>
                <br>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row g-2 mb-3">
                        <div class="col-md">
                            <div class="form-floating mb-1">
                                {{form.first_name}}
                                <label for="floatingInput">
                                    <i class="bi bi-person-dash-fill"></i>
                                    First Name
                                </label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating mb-1">
                                {{form.last_name}}
                                <label for="floatingInput">
                                    <i class="bi bi-person-plus-fill"></i>
                                    Last Name
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row g-2 mb-1">
                        <div class="col-md">
                            <div class="form-floating mb-3">
                                {{form.email}}
                                <label for="floatingInput">
                                    <i class="bi bi-envelope-fill"></i>
                                    Email
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row g-2 mb-1" style="text-align:center">
                        <p>
                            An email will be sent to you after you signup.
                        </p>
                    </div>
                    <div class="row g-2 mb-1">
                        <div class="col-md">
                            <div class="form-floating mb-3">
                                {{form.username}}
                                <label for="floatingInput">
                                    <i class="bi bi-person-circle"></i>
                                    Username
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row g-2 mb-1">
                        <div class="col-md">
                            <div class="form-floating mb-3">
                                {{form.password1}}
                                <label for="floatingInput">
                                    <i class="bi bi-lock-fill"></i>
                                    Password
                                </label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating mb-3">
                                {{form.password2}}
                                <label for="floatingInput">
                                    <i class="bi bi-shield-lock-fill"></i>
                                    Confirm Password
                                </label>
                            </div>
                        </div>
                        <div class="row g-2 mb-1" style="text-align:center">
                            <p>
                                Your password must be at least 8 characters long.
                            </p>
                        </div>
                        <div class="row g-2 mb-3">
                            <div class="cl-mido">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">I agree with the <a href="{% url 'terms' %}" class="inline-url">Terms and Conditions</a>.</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if form.errors %}
                            {% for key, value in form.errors.items %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Error!</strong> {{value | striptags}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endfor %}
                    {% endif %}
                    
                    <div class="row g-2 mb-3">
                        <div class="col-md" style="text-align:center;">
                            <button type="submit" class="btn btn-primary" id="signup_btn">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <p>Already have an account? <a class="inline-url" href="{% url 'login' %}">Login</a>.</p>
    </div>
</div>

{% endblock content %}